@model IEnumerable<Centric_Team_3.Models.RecognitionPage>

@{
    ViewBag.Title = "Recognize a Coworker";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.myName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.coreValues)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.reward)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RecognitionID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.myName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.coreValues)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.reward)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
