@model IEnumerable<Centric_Team_3.Models.UserDatabase>
@{
    ViewBag.Title = "Index";
}
<br />
<div style="background-color: #fdb825">
    <h2 class="text-center" style="color:black"><strong>Centric Consulting Employees</strong></h2>
</div>
<br />
<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Index", "UserDatabases", FormMethod.Get))
{
    <p>
        Find by name: @Html.TextBox("search")
        <input type="submit" value="Search" />
    </p>
}
<br />
<table class="table table-striped table-bordered table-condensed">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.businessUnit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.office)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.startDate)
        </th>
        <th></th>
    </tr>



    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.firstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.businessUnit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.office)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.startDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }



</table>
